.listWrap {
	position: relative;
}

.list {
	width: fit-content;
	max-height: 80vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	padding: 20px;
	list-style-type: none;
	overflow: auto;
}

.list::-webkit-scrollbar {
	border-radius: 10px;
	background-color: var(--color-background-second);
}

.list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--color-background-fourth);
}
