.btn {
	position: relative;
	padding: 10px 15px;
	text-align: center;
	border-radius: 10px;
	border: none;
	background-color: var(--color-background-fourth);
	opacity: 0.5;
	transition: opacity 0.3s;

	&::before {
		content: '';
		position: absolute;
		width: 10px;
		height: 100%;
		top: 0;
		left: 0;
		background-color: var(--color-font-second);
		border-radius: 10px 0 0 10px;
	}

	&::after {
		content: '';
		position: absolute;
		width: 23px;
		height: 23px;
		top: 9px;
		left: 18px;
		background: no-repeat center center url(../../../assets/image/add-task-list.svg);
	}

	&:hover {
		opacity: 1;
		transition: opacity 0.3s;
	}
}

.taskListName {
	padding-left: 35px;
	font-size: 18px;;
	color: var(--color-font-primary);
	opacity: 0.5;
	transition: opacity 0.3s;
}
