
:root {
	--color-background-primary: #15191f;
	--color-background-second: #1b1e28;
	--color-background-third: #ffffffde;

	--color-button-primary: #0dac32;
	--color-button-second: #153c2b;
	--color-button-third: #ff1818;
	--color-button-fourth: #403222;

	--color-border-primary: #0cad32;
	--color-border-second: #0cad32;
	--color-border-third: #1ac6ff;
	--color-border-fourth: #1292bd;

	--color-font-primary: #ffffffde;
	--color-font-second: #556574;


	--font-family-primary: "Nunito", "Arila", sans-serif;


  color-scheme: light dark;
  color: var(--color-font-primary);
  background-color: var(--color-background-primary);


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
	padding: 15px;
}


