
:root {
	--color-background-primary: #15191F;
	--color-background-second: #1B1E28;
	--color-background-third: #FFFFFFDE;
	--color-background-fourth: #232631;
	--color-background-five: #556574;
;

	--color-button-primary: #0DAC32;
	--color-button-second: #153C2B;
	--color-button-third: #FF1818;

	--color-border-primary: #0DAC32;
	--color-border-second: #1AC6FF;
	--color-border-fourth: #1292BD;

	--color-font-primary: #FFFFFFDE;
	--color-font-second: #556574;


	--font-family-primary: "Nunito", "Arila", sans-serif;


  /* color-scheme: light dark; */
  color: var(--color-font-primary);
  background-color: var(--color-background-primary);


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 400;

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


